@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Playfair+Display:ital@1&display=swap');


* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: 10rem;
  font-family: 'Bebas Neue';
}

h3 {
  font-size: 3rem;
  font-family: 'Lato';
}

p {
  font-family: 'Playfair Display'
}