@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Playfair+Display:ital@1&display=swap");

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #2d93ad;
}

h1 {
  margin: 4rem;
  color: #b7fdfe;
  font-size: clamp(7rem, 20vw, 16rem);
  font-family: "Bebas Neue";
  line-height: 0.95;
}

h3 {
  margin: 5rem;
  color: #b7fdfe;
  font-size: clamp(3rem, 10vw, 8rem);
  font-family: "Lato";
}

.icon {
  margin-left: 5rem;
}

.blinking-cursor {
  font-size: 60px;
  color: #b7fdfe;
  margin-left: 1rem;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: #b7fdfe;
  }
}
